<footer class="f-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-3">© 2025 GharYatra. All rights reserved.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="social-icon">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/suman_9time" target="_blank" rel="noopener noreferrer" class="social-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" class="social-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>