<footer class="f-info">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-2">&copy; 2024 GharYatra. All rights reserved.</p>
                <div class="social-links">
                    <a href="#" class="text-decoration-none mx-2"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-decoration-none mx-2"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="text-decoration-none mx-2"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>